<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des Menus</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Version</th>
        <th>Jour</th>
        <th>Planning</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let men of list()">
        <td>{{men.id}}</td>
        <td>{{men.version}}</td>
        <td>{{men.jour| date:'dd/MM/yyyy'}}</td>
        <td>{{men.planning?.id}} - {{men.planning?.periode}} days</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(men.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="delete(men.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success btn-lg" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
