<footer>
  <a href="https://twitter.com/soprasteria_fr?lang=en" target="_blank" rel="noopener noreferrer" class="fab fa-twitter footer-logo"></a>
  <a href="https://www.facebook.com/soprasteria/" target="_blank" rel="noopener noreferrer" class="fab fa-facebook footer-logo"></a>
  <a href="https://www.instagram.com/soprasteria_fr/?hl=en" target="_blank" rel="noopener noreferrer" class="fab fa-instagram footer-logo"></a>
  <a href="https://mail.google.com/" target="_blank" rel="noopener noreferrer" class="fas fa-envelope footer-logo"></a>
  <p class="grey">&copy;2021 Copyright - MyMenu</p>
</footer>
