<div class="wrapper ">
  <!--  <div class="">-->
  <div class="container py-4">
    <div class="card w-20 ">
      <div class="card-header bg-info text-white text-center">
        <h2>Liste des ingredients</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nom </th>
            <th>Note </th>
          </thead>
          <tbody>
          <tr *ngFor ="let recette of list()">
            <td>{{recette.nom}}</td>
            <td>{{recette.note}}</td>
          </tr>
          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<img class="card-img-top" src="" alt="Card image cap">
<div class="card-body">
  <h5 class="card-title">{{recette.nom}}</h5>
  <p class="card-text"> Pour à savourer entre petits et grands</p>
</div>
<tfoot>
<tr>
  <td colspan="5" class="text-center"><a class="btn btn-success" (click)="pdfDownload()"><i class="far fa-file-pdf"> Générer ma liste de recettes au format PDF</i></a></td>
</tr>
</tfoot>

<!--<div class="card-footer">-->
<!--  <div class="form-check btn-group float-right">-->
<!--    <div class="input-group-text">-->
<!--      <input type="checkbox" class="checkbox-Custom" value="">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-info">-->
<!--      <i class="fa fa-sync"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

