<div class="wrapper ">
  <!--  <div class="">-->
  <div class="container py-4">
    <div class="card w-20 ">
      <div class="card-header bg-info text-white text-center">
        <h2>Liste des ingredients</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th> Nom </th>
            <th>Image </th>
            <th>Etapes </th>
          </thead>
          <tbody>
          <tr *ngFor ="let recette of list()">
            <td>{{recette.nom}}</td>
            <td>{{recette.etapes}}</td>
            <td><img class="card-img-top" src="{{recette.photo}}" alt="Card image cap"></td>

          </tr>
          </tbody>
          <tfoot>

          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
