

<img class="card-img-top" src="{{recette.photo}}" alt="Card image cap"/>
<div class="card-body">
  <h5 class="card-title">{{recette.nom}}</h5>
  <p class="card-text"> Pour à savourer entre petits et grands</p>
</div>

<div class="card-footer">
  <div class="form-check btn-group float-right">
    <div class="input-group-text">
      <input type="checkbox" name="checkbox" class="checkbox-Custom" value="{{recette.id}}" (change)="getMenuId($event, recette.id)">
    </div>
    <button type="submit" class="btn btn-info">
      <i class="fa fa-sync"></i>
    </button>
  </div>
  <div class="input-group-text float-left">
    <i class="fas fa-star fa-lg">{{recette.note}}</i>
  </div>
</div>

