


  <div class="container-fluid">
    <div class="row p-5">
      <div class="col-lg-6">
        <div style="padding-top:8%; padding-bot:8%">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                  <h6 class="f-w-800">Baptiste Dessandier</h6>
                  <p>Premium</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                  <p class="lead">
                    <a [routerLink]="['/profil']" class="btn btn-lg bg-light"><i class="fas fa-user-edit"></i></a>
                  </p>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informations</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400">b.dessandier@gmail.com</h6>
                      <p class="m-b-10 f-w-600">Date de Naissance</p>
                      <h6 class="text-muted f-w-400">14 Juillet 1995</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Téléphone</p>
                      <h6 class="text-muted f-w-400">+33 6 24 56 90 99</h6>
                    </div>
                  </div>
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Détails</h6>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Genre</p>
                      <h6 class="text-muted f-w-400">Homme</h6>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Taille</p>
                      <h6 class="text-muted f-w-400">176 cm</h6>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Poids</p>
                      <h6 class="text-muted f-w-400">72 kg</h6>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">IMC</p>
                      <h6 class="text-muted f-w-400">25.5</h6>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Activité</p>
                      <h6 class="text-muted f-w-400">"BIEN ETRE"</h6>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Régime</p>
                      <h6 class="text-muted f-w-400">Aucun</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div style="padding-top:8%; padding-bot:8%">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25"> <i class="far fa-calendar-alt fa-7x"></i></div>
                  <h6 class="f-w-800">Plannings</h6>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Plannings</h6>
                  <div class="row">
                    <p>
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Plannings
                      </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                      <div class="card card-body">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success">Semaine 1</button>
                            <button type="button" class="btn btn-secondary">1</button>
                            <button type="button" class="btn btn-secondary">2</button>
                            <button type="button" class="btn btn-secondary">3</button>
                            <button type="button" class="btn btn-secondary">4</button>
                            <button type="button" class="btn btn-secondary">5</button>
                            <button type="button" class="btn btn-secondary">6</button>
                            <button type="button" class="btn btn-secondary">7</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Détails des recettes</h6>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Petit Déjeuner</p>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="#">Recette 1</a>
                          <a class="dropdown-item" href="#">Recette 2</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Déjeuner</p>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="#">Recette 1</a>
                          <a class="dropdown-item" href="#">Recette 2</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <p class="m-b-10 f-w-600">Dinner</p>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="#">Recette 1</a>
                          <a class="dropdown-item" href="#">Recette 2</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
