<!--<div class="wrapper ">-->
<!--  &lt;!&ndash;  <div class="">&ndash;&gt;-->
<!--  <div class="container py-4">-->
<!--    <div class="card w-20 ">-->
<!--      <div class="card-header bg-info text-white text-center">-->
<!--        <h2>Liste des ingredients</h2>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <table class="table table-striped">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Ingédient </th>-->
<!--            <th></th>-->
<!--            <th>Quantité (g)</th>-->
<!--            <th></th>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor ="let ingred of list()">n-->
<!--            <td>{{ingred.nom}}</td>-->
<!--            <td>-->
<!--              <div class="btn-group btn-group-sm">-->
<!--                <a class="btn btn-secondary" (click)="moins(ingred.id)"><i class="fas fa-minus"></i></a>-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a class="btn" (click)="edit(ingred.id)" >{{ingred.quantite}}</a>-->
<!--            </td>-->

<!--            <td>-->
<!--              <div class="btn-group btn-group-sm">-->
<!--                <a class="btn btn-success" (click)="plus(ingred.id)"><i class="fas fa-plus"></i></a>-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="btn-group btn-group-sm">-->
<!--                <a class="btn btn-primary" (click)="edit(ingred.id)"><i class="fa fa-edit"></i></a>-->
<!--                <a class="btn btn-danger" (click)="delete(ingred.id)"><i class="fa fa-trash"></i></a>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--          <tfoot>-->
<!--          <tr>-->
<!--            <td colspan="5" class="text-center"><a class="btn btn-success" (click)="pdfDownload()"><i class="far fa-file-pdf"> Générer ma liste de courses au format PDF</i></a></td>-->
<!--          </tr>-->
<!--          </tfoot>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

