<!--
<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des ingredients</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>

        <th>Ingédient </th>
        <th></th>
        <th>Quantité (g)</th>
        <th></th>
      </thead>
      <tbody>
      <tr *ngFor ="let ingred of list()">
        <td>{{ingred.nom}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-secondary" (click)="moins(ingred.id)"><i class="fas fa-minus"></i></a>
          </div>
        </td>
        <td>
          <a class="btn" (click)="edit(ingred.id)" >{{ingred.quantite}}</a>
        </td>
        <td>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-success" (click)="plus(ingred.id)"><i class="fas fa-plus"></i></a>
        </div>
        </td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(ingred.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="delete(ingred.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5" class="text-center"><a class="btn btn-success" (click)="pdfDownload()"><i class="far fa-file-pdf"> Générer ma liste de courses au format PDF</i></a></td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>


<div class="container py-4 w-50 ">
  <div class="card w-20"*ngIf="ingredientForm">
    <div class="card-header bg-info text-white">
      <h3>Edition de la consultation</h3>
    </div>

        <th>#</th>
        <th>Version</th>



      <tbody>
      <tr *ngFor="let ingredient of listRecette()">
        <td>{{ingredient.id}}</td>

&lt;!&ndash;    <div class="card-footer">&ndash;&gt;
&lt;!&ndash;      <div class="btn-group btn-group-lg float-right">&ndash;&gt;
&lt;!&ndash;        <a class="btn btn-success" (click)="save()">&ndash;&gt;
&lt;!&ndash;          <i class="fa fa-check"></i>&ndash;&gt;
&lt;!&ndash;        </a>&ndash;&gt;
&lt;!&ndash;        <a class="btn btn-warning" (click)="cancel()">&ndash;&gt;
&lt;!&ndash;          <i class="fa fa-undo"></i>&ndash;&gt;
&lt;!&ndash;        </a>&ndash;&gt;
&lt;!&ndash;      </div>&ndash;&gt;
&lt;!&ndash;    </div>&ndash;&gt;
&lt;!&ndash;  </div>&ndash;&gt;



        <td><div class="btn-group btn-group-sm">
          <a class="btn btn-primary" (click)="edit(ingredient.id)"><i class="fa fa-edit"></i></a>
          <a class="btn btn-danger" (click)="delete(ingredient.id)"><i class="fa fa-trash"></i></a>
        </div></td>
      </tr>
      </tbody>
&lt;!&ndash;    </table>&ndash;&gt;
&lt;!&ndash;  </div>&ndash;&gt;
&lt;!&ndash;  <div class="card-footer">&ndash;&gt;
&lt;!&ndash;    <a class="btn btn-success btn-lg" (click)="add()">&ndash;&gt;
&lt;!&ndash;      <i class="fa fa-plus"></i>&ndash;&gt;
&lt;!&ndash;    </a>&ndash;&gt;
&lt;!&ndash;  </div>&ndash;&gt;




&lt;!&ndash;    <div class="card-footer">&ndash;&gt;
&lt;!&ndash;      <div class="btn-group btn-group-lg float-right">&ndash;&gt;
&lt;!&ndash;        <a class="btn btn-success" (click)="save()">&ndash;&gt;
&lt;!&ndash;          <i class="fa fa-check"></i>&ndash;&gt;
&lt;!&ndash;        </a>&ndash;&gt;
&lt;!&ndash;        <a class="btn btn-warning" (click)="cancel()">&ndash;&gt;
&lt;!&ndash;          <i class="fa fa-undo"></i>&ndash;&gt;
&lt;!&ndash;        </a>&ndash;&gt;
&lt;!&ndash;      </div>&ndash;&gt;
&lt;!&ndash;    </div>&ndash;&gt;

&lt;!&ndash;&gt;&ndash;&gt;
  </div>
</div>

&lt;!&ndash;          <div class="card mt-3">&ndash;&gt;
&lt;!&ndash;            <div class="card-header bg-info text-white">&ndash;&gt;
&lt;!&ndash;              <h2>Liste des ingredients</h2>&ndash;&gt;
&lt;!&ndash;            </div>&ndash;&gt;
&lt;!&ndash;            <div class="card-body">&ndash;&gt;
&lt;!&ndash;              <table class="table table-striped">&ndash;&gt;
&lt;!&ndash;                <thead>&ndash;&gt;
&lt;!&ndash;                <tr>&ndash;&gt;

&lt;!&ndash;              <th>#</th>&ndash;&gt;
&lt;!&ndash;              <th>Version</th>&ndash;&gt;

&lt;!&ndash;            </tr>&ndash;&gt;
&lt;!&ndash;            </thead>&ndash;&gt;
&lt;!&ndash;            <tbody>&ndash;&gt;
&lt;!&ndash;            <tr *ngFor="let ingredient of ListByRecette(1)">&ndash;&gt;
&lt;!&ndash;              <td>{{ingredient.id}}</td>&ndash;&gt;
&lt;!&ndash;              <td>{{ingredient.version}}</td>&ndash;&gt;
&lt;!&ndash;              <td><div class="btn-group btn-group-sm">&ndash;&gt;
&lt;!&ndash;                <a class="btn btn-primary" (click)="edit(ingredient.id)"><i class="fa fa-edit"></i></a>&ndash;&gt;
&lt;!&ndash;                <a class="btn btn-danger" (click)="delete(ingredient.id)"><i class="fa fa-trash"></i></a>&ndash;&gt;
&lt;!&ndash;              </div></td>&ndash;&gt;
&lt;!&ndash;            </tr>&ndash;&gt;
&lt;!&ndash;            </tbody>&ndash;&gt;
&lt;!&ndash;          </table>&ndash;&gt;
&lt;!&ndash;        </div>&ndash;&gt;
&lt;!&ndash;        <div class="card-footer">&ndash;&gt;
&lt;!&ndash;          <a class="btn btn-success btn-lg" (click)="add()">&ndash;&gt;
&lt;!&ndash;            <i class="fa fa-plus"></i>&ndash;&gt;
&lt;!&ndash;          </a>&ndash;&gt;
&lt;!&ndash;        </div>&ndash;&gt;

&lt;!&ndash;          <div class="card-footer">&ndash;&gt;
&lt;!&ndash;            <div class="btn-group btn-group-lg float-right">&ndash;&gt;
&lt;!&ndash;              <a class="btn btn-success" (click)="save()">&ndash;&gt;
&lt;!&ndash;                <i class="fa fa-check"></i>&ndash;&gt;
&lt;!&ndash;              </a>&ndash;&gt;
&lt;!&ndash;              <a class="btn btn-warning" (click)="cancel()">&ndash;&gt;
&lt;!&ndash;                <i class="fa fa-undo"></i>&ndash;&gt;
&lt;!&ndash;              </a>&ndash;&gt;
&lt;!&ndash;            </div>&ndash;&gt;
&lt;!&ndash;          </div>&ndash;&gt;
&lt;!&ndash;        </div>&ndash;&gt;
&lt;!&ndash;        </div>&ndash;&gt;
&lt;!&ndash;      </div>&ndash;&gt;
-->

