<div id="cardBreakFast1" class="card" value="cardBreakFast1">
  <img class="card-img-top" src="images/plat1.jpg"
       alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Description courte du menu en quelques mots.</p>
  </div>

  <div class="card-footer">
    <div class="form-check btn-group">
      <div class="input-group-text">
        <input type="checkbox" class="checkbox-Custom" value="breakfastCheckbox1" onchange="menuIsChecked(this)">
      </div>
      <button type="submit" class="btn btn-info">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </div>
</div>
