  <img class="card-img-top" src="../../assets/images/plat1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">test :</h5>
    <p class="card-text">Description courte du menu en quelques mots.</p>
  </div>

  <div class="card-footer">
    <div class="form-check btn-group float-right">
      <div class="input-group-text">
        <input type="checkbox" class="checkbox-Custom" value="">
      </div>
      <button type="submit" class="btn btn-info">
        <i class="fa fa-sync"></i>
      </button>
    </div>
  </div>

