<div class="wrapper">
  <div class="container py-4 w-50">
    <div class="card w-20">
      <div class="card-header bg-info text-white text-center">
        <h3>Compléter votre profil</h3>
      </div>
      <div class="card-body">
          <div class="form-group">
            <div
              class="btn-group btn-group-lg d-flex justify-content-center px-5">
              <button type="button" class="btn" id="btn-venus">
                <i class="fas fa-venus fa-2x"></i>
              </button>
              <button type="button" class="btn" id="btn-mars">
                <i class="fas fa-mars fa-2x"></i>
              </button>
              <button type="button" class="btn" id="btn-MarsVenus">
                <i class="fas fa-venus-mars fa-2x"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" placeholder="Nom">
          </div>

          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" class="form-control" id="prenom" placeholder="Prénom">
          </div>

          <div class="form-group">
            <label for="dateDeNaissance">Date de naissance:</label>
            <input type="date" class="form-control" id="dateDeNaissance"
            placeholder="Date de naissance">
          </div>

          <div class="form-group">
            <label for="poids">Poids:</label>
            <input type="number" class="form-control" id="poids" placeholder="Poids (en kg)">
          </div>

          <div class="form-group">
            <label for="taille">Taille:</label>
            <input type="number" class="form-control" id="taille" placeholder="Taille (en cm)">
          </div>

          <div class="form-group">
            <label for="activite">Activité:</label> <select
            class="custom-select my-1 mr-sm-2" id="activite">
            <option selected>Choisir...</option>
            <option value="1">Pantouflard</option>
            <option value="2">Occasionnel</option>
            <option value="3">Régulier</option>
            <option value="3">Intensif</option>
            <option value="3">Professionnel</option>
          </select>
          </div>

          <div class="form-group">
            <label for="prefAlim">Préférences alimentaires:</label> <select
            class="custom-select my-1 mr-sm-2" id="prefAlim">
            <option selected>Choisir...</option>
            <option value="1">Aucune</option>
            <option value="2">Vegan</option>
            <option value="3">Halal</option>
            <option value="3">Végétarien</option>
          </select>

          </div>
          <div class="form-group">
            <label for="objectif">Objectif:</label> <select
            class="custom-select my-1 mr-sm-2" id="objectif">
            <option selected>Choisir...</option>
            <option value="1">Perte de poids</option>
            <option value="2">Bien être</option>
            <option value="3">Prise de masse</option>
          </select>
          </div>
      </div>

      <div class="card-footer">
        <div class="btn-group btn-group-sm float-right">
          <a class="btn btn-success" [routerLink]="['/selectionMenu']"><i class="fa fa-check"></i></a>
          <a class="btn btn-secondary"><i class="fa fa-undo"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
