<div class="wrapper-SelectionMenu">
  <section class="listMenus">

    <h1>Nos selections</h1>
    <h2>Merci de sélectionner vos menus</h2>
    <hr>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- ---------------------------------------------------------------------------- BREAKFAST -->
          <h2 class="petitDejTitle">Petit déjeuner</h2>
          <app-menu-card></app-menu-card>
          <app-menu-card></app-menu-card>
          <!-- ---------------------------------------------------------------------------- LUNCH -->
        </div>
        <div class="carousel-item">
          <h2 class="petitDejTitle">Déjeuner</h2>
          <app-menu-card></app-menu-card>
          <app-menu-card></app-menu-card>
        </div>
        <!-- ---------------------------------------------------------------------------- DINNER -->
        <div class="carousel-item">
          <h2 class="petitDejTitle">Dinner</h2>
          <app-menu-card></app-menu-card>
          <app-menu-card></app-menu-card>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <nav class="listDetail">
    <div class="Cart">
      <h1>Panier : <span class="breakfast-MenuDetail-Qt" id="totalMenu">2 / 21 </span></h1>
    </div>

    <ul class="list-group list-group-flush ">
      <li class="list-group-item">
        <div class="breakfast-MenuDetail">
          <h2>Petit déjeuner : <span class="breakfast-MenuDetail-Qt" id="totalBreakfast">0 / 7 </span></h2>
          <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A list item
              <span class="badge badge-primary badge-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A second list item
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A third list item
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
          <button class="trashCan" type="submit" name="trashCan" value="">
            <i class="fas fa-trash-alt trashCan"></i>
          </button>
        </div>
      </li>

      <li class="list-group-item">
        <div class="lunch-MenuDetail">
          <h2>Déjeuner : <span class="lunch-MenuDetail-Qt" id="result2">0 / 7 </span></h2>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A list item
              <span class="badge badge-primary badge-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A second list item
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A third list item
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
          <button class="trashCan" type="submit" name="trashCan" value="">
            <i class="fas fa-trash-alt trashCan"></i>
          </button>
        </div>
      </li>

      <li class="list-group-item">
        <div class="diner-MenuDetail">
          <h2>Dîner : <span class="dinner-MenuDetail-Qt" id="result2">0 / 7 </span></h2>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A list item
              <span class="badge badge-primary badge-pill">4</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A second list item
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              A third list item
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
          <button class="trashCan" type="submit" name="trashCan" value="">
            <i class="fas fa-trash-alt trashCan"></i>
          </button>
        </div>
      </li>

    </ul>
  </nav>


</div>
