<div class="alert alert-success my-0 presentation text-center" role="alert">
  <h4 class="alert-heading">Création de profil</h4>
  <p>Crée ton profil et découvre ton apport journalier de référence selon tes objectifs.</p>
</div>
<div class="alert alert-info my-0 presentation text-center" role="alert">
  <h4 class="alert-heading">Planning de la semaine</h4>
  <p>Détermine le nombre de menus que tu souhaites par jour et par semaine.</p>
</div>
<div class="alert alert-danger my-0 presentation text-center" role="alert">
  <h4 class="alert-heading">Sélection des menus</h4>
  <p>Découvre notre sélection de menus ou sélectionne les selon tes propres envies</p>
</div>
<div class="alert alert-dark my-0 presentation text-center" role="alert">
  <h4 class="alert-heading">Liste de courses</h4>
  <p>Récupère ta liste de courses adaptée pour la semaine</p>
</div>
<div class="alert alert-warning my-0 presentation text-center" role="alert">
  <h4 class="alert-heading">Dégustation</h4>
  <p>Mets-toi aux fourneaux et déguste tes merveilleuses recettes !</p>
</div>
